{
  "extends": "stylelint-config-standard",
  "rules": {
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "calc",
          "color",
          "var",
          "light-dark"
        ]
      }
    ],
    "indentation": 2,
    "media-query-no-invalid": null,
    "at-rule-no-unknown": null,
  }
}
