.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  padding-bottom: 0;
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}
