.user-name {
    line-height: 1;
    font-weight: 500;
    font-size: var(--mantine-font-size-md);
}
.user-id {
    line-height: 1;
    font-size: var(--mantine-font-size-xs);
    @mixin light {
        color: var(--mantine-color-gray-6);
    }
    @mixin dark {
        color: var(--mantine-color-dark-2);
    }
}
